.add-classroom {
  background-color: rgb(207, 123, 13);
  border: rgb(207, 123, 13);;
}
:where(.add-classroom):hover  {
  background-color: rgb(122, 72, 7);
}
.add-student-to-classroom {
  background-color: #00851d;
  margin-left: 1rem;
}

:where(.add-student-to-classroom).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover  {
  background-color: rgb(4, 192, 45);
}